<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for(:title) || "Myapp" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= turbo_include_tags %> <!-- ✅ ← これを追加！ -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
  <%= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", media: "all" %>
  <%= javascript_include_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HPXLBYB29G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HPXLBYB29G');
  </script>
</head>

  <body data-plan-id="<%= @plan&.id %>">
    <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <%= yield %>
    <%= yield :javascript %>
    <script>
      function previewMedia(event) {
        const file = event.target.files[0];
        const previewContainer = document.getElementById('media-preview');
        previewContainer.innerHTML = ""; // 既存プレビューを消す

        if (!file) return;

        const fileType = file.type;

        const url = URL.createObjectURL(file);

        if (fileType.startsWith('image/')) {
          const img = document.createElement('img');
          img.src = url;
          img.className = "max-w-full h-auto rounded";
          previewContainer.appendChild(img);
        } else if (fileType.startsWith('video/')) {
          const video = document.createElement('video');
          video.src = url;
          video.controls = true;
          video.className = "max-w-full h-auto rounded";
          previewContainer.appendChild(video);
        } else {
          previewContainer.textContent = "対応していないファイル形式です。";
        }
      }
    </script>
  </body>
</html>
